body {
  color: #f00;
  font-size: 30px;
}

div {
  border: 1px solid blue;
}

/* #heading {
  color: darkblue;
} */

.heading {
  color: purple;
}

h1.heading {
  color: orange;
}

h1 {
  color: green;
}

.techit {
  color: grey;
}

.container {
  color: hotpink;
}