/* 텍스트 링크 모음 */
:root {
  --base-font-family: "SUIT Variable", sans-serif;
  
}

/* 컴포넌트 */
.member-service {
  --font-size: 0.875rem;

  font-family: var(--base-font-family);
  font-size: 0;
  background: yellow;
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
  text-align: right;
  inline-size: 800px;
  

  li {
    background: orange;
    display: inline-block;
    margin: 0;
    font-size: var(--font-size);
  }
  
  a {
    display: inherit;
    padding: 8px 8px 8px 4px;
    font-variant: small-caps;
    margin: 0;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
}

  /* a:link {
    color: green;
  }

  a:visited {
    color: silver;
  }

  a:active {
    color: red;
  }

  a:focus a:hover {
    color: yellow;
  } */

}

